<mat-grid-list cols="6" rowHeight="1:1" class="main">
  <!-- Erste Zeile -->
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-colombs-law></app-colombs-law>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <mat-grid-tile colspan="6">6</mat-grid-tile>
  <mat-grid-tile colspan="6">6</mat-grid-tile>
  <!-- new page -->

  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-electric-fieald-card></app-electric-fieald-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="6">1</mat-grid-tile>
  <mat-grid-tile colspan="6">1</mat-grid-tile>

<!-- new page -->
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-super-position-card></app-super-position-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <mat-grid-tile colspan="6">6</mat-grid-tile>
  <mat-grid-tile colspan="6">6</mat-grid-tile>

  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-description-simulation></app-description-simulation>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <mat-grid-tile colspan="6">6</mat-grid-tile>
  <mat-grid-tile colspan="6">6</mat-grid-tile>
  <mat-grid-tile colspan="6">6</mat-grid-tile>

  <!-- Vierte Zeile -->
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="2" >
    <div id="slider_div">
     <app-settings-slider></app-settings-slider>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">

  </mat-grid-tile>
</mat-grid-list>
