<mat-grid-list cols="6" rowHeight="1:1" class="main">
  <!-- Erste Zeile -->
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-colombs-law></app-colombs-law>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <!-- Zweite Zeile -->
  <mat-grid-tile colspan="6">1</mat-grid-tile>
  <mat-grid-tile colspan="6">1</mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-colombs-law></app-colombs-law>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <!-- Dritte Zeile -->
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>

  <!-- Vierte Zeile -->
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
  <mat-grid-tile colspan="1" >
    <div id="slider_div">
     <app-settings-slider></app-settings-slider>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">1</mat-grid-tile>
</mat-grid-list>
